@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  width: 120px;
  margin: 40px auto;
  border-radius: 5px;
}

body {
  background-color: aqua;
}
#palo {
  position: absolute;
  font-size: 30px;
  top: 0px;
  right: 5px;
}
#palo2 {
  position: absolute;
  font-size: 30px;
  bottom: 0px;
  left: 5px;
}
#num {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 30px;
}
.red {
  color: red;
}
